.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
babel.config.js
package-lock.json
package.json
vue.config.js
public/index.html
public/images/classify/p0.png
public/images/classify/p1.png
public/images/classify/p2.png
public/images/classify/p3.png
public/images/classify/p4.png
public/images/classify/p5.png
public/images/classify/p6.png
public/mock/activity.json
public/mock/classifyList.json
public/mock/exhilist.json
public/mock/goodlist.json
public/mock/login.json
public/mock/myarchives.json
public/mock/myhomework.json
public/mock/studentexhi.json
src/App.vue
src/main.js
src/apis/classify.js
src/apis/home.js
src/apis/https.js
src/assets/image/home/cart_active.png
src/assets/image/home/cart.png
src/assets/image/home/category_active.png
src/assets/image/home/category.png
src/assets/image/home/find_active.png
src/assets/image/home/find.png
src/assets/image/home/home_active.png
src/assets/image/home/home.png
src/assets/image/home/notice.png
src/assets/image/home/user_active.png
src/assets/image/home/user.png
src/assets/image/index/swipe-01.png
src/assets/image/index/swipe-02.png
src/assets/image/index/swipe-03.png
src/assets/image/index/swipe-04.png
src/assets/image/index/test.png
src/components/HelloWorld.vue
src/components/MFooter.vue
src/components/Mheader.vue
src/router/index.js
src/views/About.vue
src/views/Home.vue
src/views/classify/Classify.vue
src/views/index/Index.vue
src/views/topic/Topic.vue
src/views/user/User.vue
